form.auth {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 514px;
    gap: 33px;
}

form.auth > label {
    color: #fcfecd;
    font-size: 1.5em;
}

form.auth > input {
    box-sizing: border-box;
    height: 66px;
    border-radius: 23px;
    background: #FCFECD;
    box-shadow: 12px 16px 7.1px 1px rgba(0, 0, 0, 0.41);
    font-size: 1.5em;
    padding: 23px;
}


