:root {
    --background-color: #002131;
    --header-background-color: #002e49;
    --header-background-color-rgb: 0, 46, 73;
    --main-color: #fcfecd;
    --header-color: white;
    --action-color: #D10127;
    --faded-action-color: #efb29b;
}


body {
    margin: 0;
    /*width: 100vw;*/
    height: 100vh;
    background-color: var(--background-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

* {
    font-family: sans-serif;
}

header {
    box-sizing: border-box;
    background-color: var(--header-background-color);
    color: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > ul > li {
    display: inline;
}

header > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: inline-flex; /* Make the link behave like inline text */
    align-items: center; /* Align text and icon vertically */
    cursor: pointer; /* Ensures the cursor changes to a pointer when hovering */
}

header > ul:last-child {
    display: none;
}


@media (max-width: 1100px) {
    header > ul:last-child {
        display: block;
    }

    header > h1 {
        display: none;
    }

    header > ul {
        display: none;
    }

    header > ul.active {
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: end;
        background-color: var(--header-background-color);
        padding: 0;
        margin: 0;
    }

    header > ul.active > li {
        width: 100%;
    }

    header > ul.active > li > a {
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
    }

}

header > ul > li > a:hover > .icon {
    background-color: var(--main-color);
}

.icon-hamburger {
    mask: url("/public/img/assets/hamburger.svg");
}

.icon-home {
    mask: url("/public/img/assets/home.svg");
}

.icon-pen {
    mask: url("/public/img/assets/pen.svg");
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-right: 5px;
}

header > ul > li > a:hover {
    color: var(--main-color);
}

header > ul > li > a > object {
    height: 16px; /* Adjust height for better visibility */
    margin-right: 8px; /* Space between SVG and text */
    display: inline-block; /* Ensure it's inline */
    vertical-align: middle; /* Align with the text */
    pointer-events: none; /* Allow clicks to pass through to the <a> element */
}

main {
    background: url("/public/img/assets/bg_c.png") var(--background-color) 50% / cover no-repeat;
    background-blend-mode: lighten;
    background-position-y: bottom;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    padding: 10px;
}

input[type="submit"] {
    background-color: var(--action-color) !important;
    color: var(--main-color) !important;
    /*padding: 0 !important;*/
    flex-shrink: 0;
}